.nav{
    background-color: #f8f8fa;
    color: #222736;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    border-radius: 15px;
    padding: 5px 20px;
    justify-content: space-between;

}


body{
    background-color: #f1f2f6;
    font-family: Arial, Helvetica, sans-serif;
}

.btn{
    background-color: #f4f6f7;
    margin: 1px solid #d6d8d9;
    color: #324355;
    border-radius: 4px;
    padding: 5px 10px;
}

.btn2{
    background-color: #04052d;
    margin: 1px solid #d8d9db;
    color: #f9f9fb;
    border-radius: 4px;
    padding: 5px 10px;
}

.end{
    display: flex;
    flex-direction: row;
    gap: 20px;
    
}

.whole{
    display: flex;
    flex-direction: row;
}
.canva{
    background-color: green;
    width: 100%;
    background-image: url("disney.png");
    background-size: cover;
}

.sidebar{
    background-color: #f7f8fa;
    height:600px;
    width: 25%;
    color: black;
    margin-top: 5px;
    padding: 10px 20px 3px 20px;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 25px;
    
    
}

.flexx{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.btns{
    justify-content: center;
    text-align:center;
    padding: 5px 20px 5px 10px;
    width: 220px;
    background-color: #f7f8fa;
    color: #324d5a;
    border-radius: 10px;
    
    
}
